# Next.js
.next/
build/

# Build artifacts published at repo root for Vercel static deploy
/index.txt
/__next.*
/404/
/_not-found/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Misc
.DS_Store
*.pem
Thumbs.db

# IDE
.vscode/settings.json
.idea/
.vercel
